.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  overflow: auto;

  .search{
    display: flex;
    width: 100%;
    &__wrapper{
      width: 100%;
      border: 1px solid rgba(118, 118, 118, 0.3);
      border-radius: 4px;
      padding: 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      img{
        height: 1rem;
      }
      input{
        width: 100%;
        height: 100%;
        border: none;
        padding: 0.5rem 0;
        outline: none;
      }
    }
  }
  
  &__title {
    background-color:#000 ;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #d6d1d1;
    h3 {
      font-size: 1rem;
      padding: 1rem 0;
      font-weight: 700;      
      color: #d6d1d1;
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .assistito {
      background-color: #cccc;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: 7px;
      &__info {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 0.5rem;
        width: 50%;
        height: 100%;
      }
      &__pratica {
        font-weight: 500;
        font-size: smaller;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 100%;
      }

      
    }
    .assistito_selected{
      background-color: #DB2A23;
      .assistito__info {
        span{

          color: #ffff !important;
        }
      }
      .assistito__pratica {
        span{

          color: #ffff !important;
        }
      }
      transition: all 0.2s ease !important;
    }
  }
  &__button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
